body{
    font-size: 62.5%;
    color: black;
    margin: 0;
    padding: 0;
    background: linear-gradient( 90deg, rgb(230, 218, 206) 45%, white 55% );
    font-family: 'Source Code Pro', monospace;
}
a:focus{
    color: gray;
}
a:visited{
    color: gray;
}
a{
    color: gray;
    text-decoration: none;
}
.staticNavContainer{
    width: 100%;
    height: 7rem;

    vertical-align: middle;
    margin: 0;
    position: fixed;
    z-index: 1000;
    
    font-family: 'Gemunu Libre', sans-serif;

}
.staticNav{
    width: 100%;
    height: 100%;
    color: gray;
    background-color: ghostwhite;
    display: inline-grid;
    grid-template-columns: 5fr 1fr 1fr;
}
.pageDescription{
    padding-left: 40px;
    justify-self: left;
    display: flex;
    align-content: center;
}
.navMainText{
    line-height: 3rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.navGroupName{
    font-size: 3rem;
}
.navSlash{
    align-self: end;
    font-size: 1.5rem;
}
.navMajorName{
    align-self: end;
    font-size: 1.5rem;
}
.navIcon{
    background-color: rgba(59, 59, 59, 0.5);
    box-shadow: 0 0 1rem rgba(59, 59, 59);
    border-radius: 25%;
    width: 4rem;
    margin: 0 15px;
}
.nav{
    font-size: 1.5rem;
    text-decoration: none;
    align-self: center;
    text-align: center;
}
.nav:visited{
    text-decoration: none;
    color: gray;
}


.space{
    height: 7rem;
}
.groupDescriptionContainer{
    width: 100%;
    margin-top: 1rem;
}
.groupDescription{
    width: calc(100% - 6rem);
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainImg{
    width: 30rem;
    height: 30rem;
    box-shadow: 0 0 3rem rgba(59, 59, 59, 0.2);
    background: radial-gradient(rgba(59, 59, 59), rgba(59, 59, 59, 0.3), rgba(59, 59, 59, 0));
    border-radius: 35%
}
.groupGoal{
    width: 80%;
    line-height: 1.2;
    font-size: 6rem;
    display: grid;
    grid-template-rows:  1fr 1fr 2fr;
    align-items: center;
    padding: 7rem 0;
    row-gap: 5%;
    font-family: 'Kaushan Script', cursive;
}
.groupGoalTextFirstLine{
    margin-top: 30px;
    justify-self: start;
}
.groupGoalTextSecondLine{
    justify-self: end; 
}
.groupGoalTextGroupName{
    margin-top: 30px;
    line-height: 1.2;
    font-size: 8rem;
    font-weight: bold;
    justify-self: center; 
}
#groupGoalTextFirstLine, #groupGoalTextSecondLine{
    font-style: italic;
}

#beforeWillDoTextArea{
    height: 150px;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-family: fantasy;
}

#willDoContainer{
    background: rgba(0, 0, 0, 0.3);
    margin: 15px 30px;
    padding: 100px 20px ;
    border-radius: 20px;
}
#willDoContentImg{
    margin: 30px 0;
}
#willDo{
    margin: auto 15px;
    display: grid;
    text-align: center;
    grid-template-columns:  2fr 3fr 2fr;
    justify-content: center;
    vertical-align: middle;
}
#willDoChangeLeft{
    width: 100px;
    justify-self: right;
    align-self: center;
}
#willDoChangeRight{
    width: 100px;
    justify-self: left;
    align-self: center;
}
#willDoContentImg{
    width: 500px;
}
#willDoContent{
    font-family: Arial, Helvetica, sans-serif;

}
#willDoContentTitle{
    font-size: 2.4rem;
    display: block;
    font-weight: 900;
    margin-bottom: 40px;
}
#willDoContentDescription{
    font-size: 1.2rem;
}


footer{
    display: grid;
    align-items: center;
    background-color: ghostwhite;
    padding: 12px 18px;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
}
#footer_pageInfo{
    grid-column: 1/2;
}
#footer_groupName{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    line-height: 0%;
    margin-top: 20px;
}
#footer_pageDeveloper{
    padding-left: 5px;
    font-size: 10px;
    margin-top:30px;
    line-height: 0%;
    color: gray;
}
#universityText{
    margin-top: 20px;
}
#footer_university {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    grid-column: 5/6;
    font-size: 20px;
    font-weight: 900;
}
#universityMark{
    width: 80px;
    height: 60px;
    margin: auto;
}